@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;900&family=Merriweather+Sans&family=Roboto:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.app{
    width: 292px;
    margin: 20px 0;
    background: #FFFFFF;
    box-shadow: 3px -2px 135px -31px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.head{
    margin: 35px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.head-city{
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 900;
    font-size: 34.5182px;
    color: #162241;
    margin-bottom: 5px;
}

.head-cc{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 12.3699px;
    color: #272727;
    margin-bottom: 12px;
}

.head-weather{
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #193663;
}

.head-details{
    margin-top: 3px;
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 500;
    font-size: 13.8644px;
    color: #5F7AA4;
}

.logo img{
    width: 150px;
    height: 150px;
}

.temps{
    margin-top: 45px;
    width:200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.temp-crr{
    font-family: 'Merriweather Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 37.7143px;
    color: #000749;
}

.temps-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.temp-hl{
    font-style: normal;
    font-weight: 500;
    font-size: 11.7857px;
    color: #000749;
    font-family: 'Merriweather Sans', sans-serif;
}

.low{
    color: #0007498b;
    margin-left: 10px;
}

.details{
    margin: 25px 0;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.details-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60px;
}


.details-text{
    font-family: 'Merriweather Sans', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 12.5714px;
    color: #0a114c;
}